*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
}
.mainimage img
{
width: 80%;
}
.carlist
{
    width: 80%;
    background-color: beige;
}
.carprice 
{
background-color: #c71b25;
width: 150px;
height: 80px;
display: inline-block;
margin-right: 5rem;
}
.carprice h1
{
color: white;
font-size: large;
margin-top: 35px;
text-align: center;
}
.carabout 
{
    display: inline-block;
    margin: 1rem;
}
.carbutton button
{
margin-left: 1rem;
padding: 1rem;
margin-top: 1rem;
border: solid 1px;
}
.carabout button:hover
{
color: rgb(255, 255, 255);
transition: ease 0.9s;
background-color: rgb(5, 2, 2);
}

.countlist
{
display: inline-block;
padding-left: 6rem;
text-decoration: none;
list-style: none;
}
.carlist li
{
    text-decoration: none;
    list-style: none;
}
.mapnumber
{
    display: inline-block;
    width: 20%;
    padding-right: 10rem;
}
.number
{
    background-color: #e2f1f8;
    padding: 30px;
}
.aboutlist
{
display: inline-block;
padding-top: 1rem;
padding-left: 5rem;
width: 25%;
}
.aboutlist ul
{
    text-decoration: none;
    list-style: none;
}
.aboutlist hr
{
    color: #ededed;
    margin: 6px;
}
.features 
{
display: inline-block;
padding-left: 5rem;
padding-top: 1rem;
width: 25%
;
}
.features ul li
{
margin-top: 10px;
}